Flask
Flask-Login
Flask-SQLAlchemy
Flask-WTF
Flask-SocketIO
Flask-Migrate
Flask-Limiter
SQLAlchemy
Werkzeug
Jinja2
gunicorn
eventlet
psycopg2-binary
python-dotenv
cryptography
pycryptodomex
reportlab
Pillow
PyPDF2
pyzipper
beautifulsoup4
bleach
tinycss2
lxml
email-validator
WTForms